* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

header {
  background-color: #3c3a39;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 24px 18px 36px;
}

.fa-bars {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content {
  background-color: #1c1a19;
  padding-left: 2%;
  background-image: url("images/Group.png");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: bottom right;
}

h1 {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding: 120px 24px 120px 24px;
  text-align: left;
}

h2 {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  padding: 120px 24px 16px 24px;
  text-align: left;
}

.initp {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 14px 0px 248px 19px;
  text-align: left;
}

.icontag {
  color: #fff;
  padding: 5px 1px 130px 21px;
  display: block;
}

.icon-bar {
  display: flex;
  padding-top: 10px;
}

.icon-bar li {
  display: inline-block;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.wrappertitle {
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  border-bottom: solid 1px gray;
  padding-bottom: 50px;
  padding-top: 120px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px 24px;
  gap: 24px;
  width: 375px;
}

.placeholder1 {
  width: 327px;
  padding-top: 60px;
}

.wrappersubtitle {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  padding-top: 40px;
}

.firstp {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  padding-top: 12px;
  text-align: left;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 297px;
  height: 40px;
  padding-left: 15px;
  padding-bottom: 22px;
}

.tag {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  color: black;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.tag2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  color: black;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.tag3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  background: #ff6b00;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.firstproject {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper2 {
  background-image: url(images/MaskGroup.png);
  background-repeat: no-repeat;
  background-size: initial;
  width: 327px;
  display: flex;
  padding-top: 84px;
  flex-direction: column;
  justify-content: flex-end;
}

.wrappertitle2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  width: 295px;
  text-align: left;
  color: #fff;
  padding-left: 16px;
}

.secondp {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 295px;
  text-align: left;
  color: #fff;
  padding-left: 12px;
  padding-bottom: 20px;
}

.tagwrapper {
  display: flex;
  align-items: center;
  padding: 10px 30px 10px 12px;
  width: 56px;
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.tag2wrapper {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.tag3wrapper {
  width: 327px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  height: 48px;
  padding: 12px;
}

.wrapper5 {
  display: flex;
  flex-direction: column;
  margin: 24px;
  text-align: left;
}

.aboutme {
  background-color: #1c1a19;
  background-image: url(images/Frame.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: initial;
}

.aboutmeh3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  padding: 120px 24px 24px 24px;
}

.aboutmep {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  padding: 24px;
  text-align: left;
  width: 327px;
  padding-bottom: 24px;
}

.getmyresume2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  background-color: #ff6b00;
  margin: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 200px;
}

.lastlist {
  background-color: #1c1a19;
  background-image: url(./img/aboutme\ line.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.list1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex-direction: column;
  padding-bottom: 45px;
  padding-top: 137px;
}

.firstlist {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: left;
  color: #fff;
  padding: 14px;
}

.list2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  padding-bottom: 45px;
}

.list3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  padding-bottom: 45px;
}

.footer {
  background-color: #fff;
}

.footerh3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-left: 24px;
  margin-right: 24px;
  max-width: 400px;
  padding-top: 120px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 58px 0 0 24px;
  max-width: 300px;
  height: 330px;
}

.form-container input {
  width: 100%;
  height: 48px;
}

.form-name {
  border: none;
  margin-bottom: 10px;
  border-bottom: 1px solid #dbd8d7;
}

.form-container input::placeholder {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

.form-email {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 10px;
}

.form-comment {
  background-color: #fbf8f7;
  width: 100%;
  height: 114px;
  margin-bottom: 24px;
}

.form-comment::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #3c3a39;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  background-color: #ff6b00;
  border: none;
  transform: scale(1.5);
}

.icontag2 {
  color: #505f79;
  display: block;
  align-items: center;
  margin-left: 25px;
}

.bigwrapper {
  display: grid;
}

.img-lang-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.extra-bar {
  align-items: center;
  width: 375px;
  height: 72px;
  text-align: center;
  gap: 1px;
  padding-left: 1px;
  padding-top: 0px;
}

.iconsss {
  background-image: url(images/Rectangle.png);
  background-repeat: no-repeat;
  background-position: middle center;
  margin-left: 15px;
}

.btn:hover {
  color: #f55800;
  border: none;
  background-color: #fff5e1;
  transform: translate(3ch, 3mm);
  transform: rotate(12deg);
}
